# Project Sub-folders node_modules and builds
**/node_modules/
**/dist/
**/build/
**/bin/
**/obj/
**/Temp/
**/Library/
**/uploads/
**/.DS_Store

# EXCLUDE Trilho App (Now a separate repository in trilho__app/)
trilho_app/

# INCLUDE Gigantes Project folders
!booth/
!server/
!projection/
!automacoes/
!Unity/
