# Project Sub-folders node_modules and builds
**/node_modules/
**/dist/
**/build/
**/bin/
**/obj/
**/Temp/
**/Library/
**/uploads/
**/.DS_Store

# Re-allow projects but ignore their build/node outputs
!booth/
!server/
!projection/
!automacoes/
!Unity/
!trilho_app/
